html{
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*PROMO SECTION*/
/*test commit*/

.promo{
    background: url("../img/background/firstscreen_bg.png") center center/cover no-repeat;
    height: 800px;
    padding: 39px 0 62px 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}


/*styles for logo */

.logo .logo_icon{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 9.5px;
}

/*styles for title on promo section*/

h1.title{
    margin-top: 53px;
}

.title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;

}

.title_big{
    margin-top: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*styles for  promo text*/

.promo .promo_text{
    margin-top: 22.5px;
    width: 1114px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;

}

.promo .promo_text span{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #F9BF3B;
}

/*styles for button */

.promo .promo_button, .gift .gift_button{
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;

}
.promo .promo_button:hover, .gift .gift_button:hover{
    transform: scale(1.1);
}

/*styles for more section*/
.more{
    margin-top: 70.5px;
}

.more .more_text{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_arrow{
    display: block;
    margin: 0 auto;
    margin-top: 4.50px;
}

/*WAITING SECTION*/

.waiting{
    min-height: 607px;
    background: #EFEFEF;
    padding-top:88px;
    padding-bottom: 75px;
}

.waiting .waiting_title{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider{
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}
.waiting .waiting_subtitle{
    margin-top: 18.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;

}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45.5px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 342px;
    vertical-align: top;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_description{
    margin-top: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #4A4A4A;
}

/*OPTIMIZATION SECTION*/
.optimization{
    min-height: 549px;
    padding: 102px 0  107px  0 ;
    padding-bottom: 0;
}
.optimization .optimization_title{
    margin-left: 391px;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    align-items: center;
    text-transform: uppercase;
    color: #299CBD;
}
.optimization .optimization_text{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 391px;
    margin-top: 25px;
}
.optimization .optimization_text p{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.optimization .optimization_text span{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimization .optimization_img{
    position: absolute;
    top:-54px;
    left: -240px;
    z-index: -1;
}

/*FINISH SECTION*/

.finish{
    background: url("../img/background/finish_screen_bg.png") center center/cover no-repeat;
    min-height: 450px;
    padding-top: 86px;
    padding-bottom: 68.5px;
}
.finish .finish_title{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;
}
.finish .finish_divider{
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.finish .finish_wrapper{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: #B4E2FF;
}
.finish .finish_wrapper .finish_item{
    width: 226px;
}

.finish .finish_wrapper .finish_item .finish_text{
    margin-top: 24.5px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

/*GIFT SECTION*/

.gift{
    min-height: 631px;
    background: #EFEFEF;
    padding-top: 88px;
}

.gift .gift_logo{
    display: block;
    margin: 0 auto;
}

.gift .gift_text{
    margin-top: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;

}

/*MEETING SECTION*/

.meeting{
    min-height: 514px;
    padding-top: 81px;
}

.meeting .meeting_img{
    display: block;
    margin: 0 auto;
}

.meeting .meeting_title{
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.meeting .meeting_text{
    margin-top: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}
.meeting .meeting_subtext{
    margin-top: 24.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

.footer{
    min-height: 169px;
    background: #1A1A1A;;
}
.footer .footer_anchor_wrapper{
    text-align: center;
}
.footer .footer_support, .footer .footer_confidentiality, .footer .footer_divider{
    display: inline-block;
    margin-top: 57px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #888888;
}
.footer .footer_call{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}






